﻿@using GestorEventos.Servicios.Entidades
@model GestorEventos.Servicios.Entidades.EventoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-light">Detalles</h1>

<div class="form-control">
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 ">
           Estado de Evento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoEvento)
        </dd>
       
        <dt class = "col-sm-2">
            Nombre del Evento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEvento)
        </dd>
        <dt class = "col-sm-2">
            Fecha del evento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEvento)
        </dd>
        <dt class = "col-sm-2">
            Cantidad de Personas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPersonas)
        </dd>
        
                
        
    </dl>

    <h3>Servicios Contratados</h3>

    @foreach (var servicio in (IEnumerable<Servicio>)ViewData["ListaServicios"])
    {
        <dt class="col-sm-2">
            @Html.DisplayFor(model => servicio.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => servicio.PrecioServicio);
        </dd>
    }


</div>
<div>
    
    <a class="btn btn-danger" asp-action="Index">Volver a la lista</a>
</div>
