  @model IEnumerable<GestorEventos.Servicios.Entidades.EventoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaAgasajada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoEvento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaAgasajada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrado)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.EstadoEvento)
            </td>
            <td>
                    @Html.ActionLink("Details", "Details", new { idEvento = item.IdEvento }) |
              
                    <form asp-action="AprobarEvento" method="post">
                        <input type="hidden" name="idEvento" value="@item.IdEvento" />
                        <input type="submit" value="Aprobar" />
                    </form>
                    <form asp-action="RechazarEvento" method="post" style="display:inline;">
                        <input type="hidden" name="idEvento" value="@item.IdEvento" />
                        <input type="submit" value="Rechazar" class="btn btn-danger" />
                    </form>
                
                
                @*  <form asp-action="AprobarEvento">
                   <input type="hidden" asp-for="@item.IdEvento"/>
                   <input type="submit" value="Aprobar" />
           
           
           
                </form> *@
            </td>
        </tr>
}
    </tbody>
</table>
