@model GestorEventos.Servicios.Entidades.Servicio

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 style="color:white">Detalles del Servicio</h1>
<br />
<div>

    <hr />
    <dl class="row" style="color:white">
        <dt class="col-sm-2">
            Id del Servicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            Precio del Servicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioServicio)
        </dd>
    </dl>
</div>
<br />
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdServicio }, new { @class = "btn btn-sm btn-warning" } ) |
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-primary text-white">Volver a la Lista</a>
</div>
