
@model IEnumerable<GestorEventos.Servicios.Entidades.Servicio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1 class="mb-4" style="color:white">Servicios</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Crear Nuevo Servicio</a>
    </p>

    <table class="table table-bordered table-dark table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdServicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioServicio)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdServicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioServicio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdServicio" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdServicio" class="btn btn-sm btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdServicio" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>